<nav>
  <%= link_to root_path do %>
    <<img src="" alt="Badger Creek Wireless Logo">>
  <% end %>
  <div class="links">
    <%= link_to "Home", root_path, class: "navbutton"%>
    <div class="dropdown-container">
      <%= link_to "About", about_path, class: "dropdown navbutton"%>
      <div class="drop-items">
        <div class="drop-flex">
          <a href="" class="navbutton drop">A bit about us</a>
          <a href="" class="navbutton drop">Social media</a>
          <a href="" class="navbutton drop">Legal information</a>
        </div>
      </div>
    </div>
    <div class="dropdown-container">
      <a href="" class="dropdown navbutton">Pricing</a>
      
      <div class="drop-items">
        <div class="drop-flex">
          <a href="" class="navbutton drop">Package information</a>
          <a href="" class="navbutton drop">Business Plans</a>
          <a href="" class="navbutton drop">Affordable Connectivity Program</a>
        </div>
      </div>
    </div> 
    <a href="" class="navbutton">Coverage</a>
    <a href="" class="navbutton">Billing</a>
    <a href="" class="navbutton">Support</a>
  </div>
</nav>