<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <%= link_to root_path do %>
    <img src="" alt="Badger Creek Wireless Logo">
  <% end %>
  <div class="links" id="linksMain">
    <%= link_to "Home", root_path, class: "navbutton"%>
    <div class="dropdown-container">
      <div class="drop-link">
        <%= link_to "About", about_path, class: "dropdown navbutton"%>
        <a href="javascript:void(0);" class="icon" onclick="Opensecondary()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="drop-items">
        <div class="drop-flex" id="linksAbout">
          <a href="" class="navbutton drop">A bit about us</a>
          <a href="" class="navbutton drop">Social media</a>
          <a href="" class="navbutton drop">Legal information</a>
        </div>
      </div>
    </div>
    <div class="dropdown-container">
      <div class="drop-link" id="linksPricing">
        <a href="" class="dropdown navbutton">Pricing</a>
        <a href="javascript:void(0);" class="icon" onclick="Opensecondary()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="drop-items">
        <div class="drop-flex">
          <a href="" class="navbutton drop">Package information</a>
          <a href="" class="navbutton drop">Business Plans</a>
          <a href="" class="navbutton drop">Affordable Connectivity Program</a>
        </div>
      </div>
    </div> 
    <a href="" class="navbutton">Coverage</a>
    <a href="" class="navbutton">Billing</a>
    <a href="" class="navbutton">Support</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="openMain()">
    <i class="fa fa-bars"></i>
  </a>
</nav>