<nav>
  <img src="" alt="Badger Creek Wireless Logo">
  <div class="links">
    <a href="" class="navbutton">Home</a>
    <div class="dropdown-container">
      <a href="" class="dropdown navbutton pricing">About</a>
      <div class="drop-items">
        <div class="drop-flex">
          <a href="" class="navbutton drop">A bit about us</a>
          <a href="" class="navbutton drop">Social media</a>
          <a href="" class="navbutton drop">Legal information</a>
        </div>
      </div>
    </div>
    <div class="dropdown-container neg-margin">
      <a href="" class="dropdown navbutton pricing">Pricing</a>
      <div class="drop-items">
        <div class="drop-flex">
          <a href="" class="navbutton drop">Package information</a>
          <a href="" class="navbutton drop">Business Plans</a>
          <a href="" class="navbutton drop">Affordable Connectivity Program</a>
        </div>
      </div>
    </div> 
    <a href="" class="navbutton neg-margin">Coverage</a>
    <a href="" class="navbutton">Billing</a>
    <a href="" class="navbutton">Support</a>
  </div>
</nav>