<div class="legal-container">
  <h1 class="legal-heading">Legal Information</h1>
  <h2 class="legal-subheading">Here is where you can find our Terms of Service, Service Plan information, as well as other legal information</h2>
  <div class="legal-items">
    <div class="legal-item">
      <h3 class="legal-item-title">Service Plan</h3>
      <div class="legal-item-content">
        <p class="legal-body">legal stuff</p>
      </div>
    </div>
  </div>
</div>