
<main class="about-page">
  <div class="mission-statement">
    <h1 class="mission-statement-title">Mission Statement</h1>
    <p class="mission-statement-content"></p>
  </div>
  <div class="bio-cards">
    <div class="bio-card">
      <h2 class="bio-name">PERSON A</h2>
      <%= image_tag("", :alt => "portrait", class: "Portrait") %> 
      <p class="bio-info">dsajdjawdaidmamidwaimdimawd</p>
    </div>
    <div class="bio-card">
      <h2 class="bio-name">PERSON B</h2>
      <%= image_tag("", :alt => "portrait", class: "Portrait") %> 
      <p class="bio-info">asdadjoajodjiadijoadijo</p>
    </div>
  </div>
</main>