.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

}

.contact-header {
  color: white;
  background-color: #2059a8;
  width: 100%;
  text-align: center;
  margin-top: 0.25em;
  padding: 0.5em;
 
  border-radius: 4px 4px;
}

.subheader {
  margin: 0;
  padding: 1em;
  color: #2059a8;
  background-color: white;
  font-family: 'calibri';
}

.contact-info {
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: center;
  gap: 24px;
  padding-bottom: 12px;
}

.contact-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.info-heading {
  padding: 0;
  margin: 0;
  color: #2059a8;
  font-family: 'calibri';
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #2059a8;
}

.contact-container > p {
  color: #2059a8;
 padding: 1.2em;
  background-color: white;
  width: 100%;


}

.additional-info {
  border-top: 2px dashed #2059a8;
}

.bottomspace {
  height: 10px;
  width: 100%;
  background-color: white;
  border-radius: 0 0 4px 4px;
}