@font-face {
  font-family: "calibri", Arial, Calibri, Helcetica, "Open Sans", sans-serif;
  src: font-url("calibri.ttf") format("truetype");
}

@font-face {
  font-family: "calibrib", Arial, Calibri, Helcetica, "Open Sans", sans-serif;
  src: font-url("calibrib.ttf") format("truetype");
}