footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding-left: 25px;
  justify-self: flex-end;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_box {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 3px;
}

.footer_nav {
  font-size: 18px;
  font-weight: bold;
}

.footer_subnav {
  font-size: 16px;
}

.copyright {
  color: #2059a8;
  background-color: white;
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 25px;
  font-family: "calibrib";
}

.footer_nav, .footer_subnav {
  font-family: "calibri";

}

.social_center {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 19px;
}

.social_icons{
  height: 19px;
  width: 19px;
}

.mobile {
  display: none;
}


@media screen and (max-width: 600px) {
  .footer_nav, .footer_subnav, .copyright {
    color: white;
  }

  footer, .copyright{
    background-color: #2059a8;
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

}