footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding-left: 26px;
  justify-self: flex-end;
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
  width: 220px;
  gap: 3px;
}

.footer-nav {
  font-size: 18px;
  font-weight: bold;
}

.footer-subnav {
  font-size: 16px;
}

.copyright {
  color: #2059a8;
  background-color: white;
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 25px;
  font-family: "calibrib";
  margin-top: -1px;
}

.footer-nav, .footer-subnav {
  font-family: "calibri";

}

.social-center {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 19px;
}

.social-icons{
  height: 19px;
  width: 19px;
}

.mobile {
  display: none;
}




@media screen and (max-width: 850px) {
  .footer-nav, .footer-subnav, .copyright {
    color: white;
  }

  footer, .copyright{
    background-color: #2059a8;
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  footer {
    grid-template-columns: 1fr;
  }


}

@media screen and (max-width: 850px) {
  footer{
    padding-left: 2.5rem;
  }
 
}
  
