.home-body {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;
  padding: 1rem;
}

.temp {
  grid-area: 1 / 1 / 2 / 3;
  background-color: aqua;
  height: 320px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 26px;
}

.plans {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rebeccapurple;
  margin-left: 3rem;
}


@media screen and (max-width: 850px) {
  .home-body {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 0;
    align-self: center;
  }

    
  .temp {
    width: 100%;
  }

  .social-media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .plans {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 0;
  }
}

