.legal-container {
  min-height: 71vh;
  margin-left: 20px;
  margin-right: 20px;
}

.legal-heading{
  text-align: center;
  background-color: #2059a8;
  color: white;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 20px;
  font-family: 'calibrib';
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  font-size: 32px;
}

header {
  width: 100%;
  max-width: 1790px;
  background-color: white;
  border-radius: 0 0 4px 4px;
  padding-bottom: 1em;
}

.about-main {
  padding: 12px;
}

.about-main-title {
  font-family: 'calibri';
  color: #2059a8;
  font-size: 28px;
}

.about-main-content {
  padding-left: 12px;
  color: #2059a8;
  font-size: 16px;
  font-weight: 500;
}

.legal-subheading{
  text-align: center;
  background-color: #2059a8;
  color: white;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 1em;
  font-family: 'calibri';
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.legal-items{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0 0 4px 4px;
  padding-bottom: 20px;
}

@media screen and (max-width: 850px) {
  .legal-subheading {
    font-size: 18px;
  }
}

.legal-body {
  font-family: 'calibri';
  font-size: 18px;
}

.legal-item-title {
  font-family: 'calibri';
  font-size: 24px;
}

.legal-item {
  padding: 12px;
}