nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: hsla(239, 87%, 56%, 0.943);
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 60px;

}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbutton {
  z-index: 2;
  text-align: center;
  padding: auto;
}

.dropdown-container:hover .navbutton {
}


.drop-items {
  display: none;
  position: absolute;
  position: float;
  padding: 10px;
  padding-top:21px;

  white-space: nowrap;
  padding-left: 5px;
  padding-bottom: 5px;
}

.drop-flex {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  color: white;
  background-color: hsla(239, 90%, 59%, 0.621);
  z-index: 1;
}

.dropdown-container:hover .drop-items {
  display: block;

}

a {
  text-decoration: none;
  color: white;
}


