@media screen and (min-width: 601px) {
  :root {
    --navheading: calc((100px - 24px) / 2);
    /*spacing is total navbar height - the text height / 2 */
  }

  .hamburger {
    display: none;
  }
  
  
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  
    /* when changing nav height, navheading calc and drop-flex top margin must be changed to the same value */
    height: 100px;
    /* box-shadow: 2px 0px 11px 0px rgba(166,166,166,0.69); */
  
  }

  a {
    color: white;
  }
  
  .links {
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
  }
  
  .navbutton {
    z-index: 2;
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: var(--navheading);
    padding-bottom: var(--navheading);
    font-size: 24px;
    color: #2059a8;
  
  }
  
  .drop-link {
    display: flex;
  }
  
  .drop-items {
    display: none;
    position: absolute;
  
    white-space: nowrap;
  }
  
  .drop-flex {
    display: flex;
    flex-direction: column;
    margin-top: 102px;
    background-color: white;
    color: #2059a8;
    z-index: 1;
    border-radius: 1px;
    /* box-shadow: 2px 2px 10px 1px rgba(166,166,166,0.69) */
  }
  
  .dropdown-container:hover .drop-items {
    display: block;
  
  }
  

  
  
  .drop {
    padding: 4px;
    font-size: 18px;
    background-color: #e7ebf7;
    color: #2059a8;
  }
  
  .dropdown-container:hover > .navbutton{
    color: white;
    background-color: #2059a8;
  }
  
  .navbutton:hover {
    color: white;
    background-color: #2059a8;
  }

  .icon {
    display: none;
  }
}





@media screen and (min-width: 1800px) {
  nav {
    padding-right: 0;
  }

}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }

  .drop {
    text-indent: 2rem;
  }

  .drop-items {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .drop-flex {
    display: flex;
    flex-direction: column;
  }


  .dropdown-container {
    display: flex;
    flex-direction: column;
  }

  .display-top {
    display: flex;
    justify-content: space-between;
    background-color: #2059a8;
  }

  .hamburger {
    color: white;
  }

  .drop-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
  }

  .navbutton, .drop-link {
    background-color: #e7ebf7;
  }
  
  .drop-flex > .navbutton {
    background-color: #e7ebf7;
  }

  .activeitem, .activeitem > .navbutton{
    background-color: #2059a8;
    color: white;
  }
 

  .navbutton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .display-top {
    height: 40px;
  }

  .navbutton {
    height: 30px;
  }
 
  .hamburgerAbout, .hamburgerPrices {
    height: 40px;
  }


}

  a {
    text-decoration: none;
    color: #2059a8;
  }

  .navbutton {
    font-family: "calibrib";
    font-size: 22px;
    font-weight: bold;
  }