.title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #e7ebf7;
}

.arrow {
  width: 2em;
  height: auto;
  margin-right: 20px;

}

.support-content{
  display: none;
  font-family: 'calibri';
}

.active-support > .arrow {
  content: url("chevron-down.png");
}



.active-support + .support-content {
  display: block;
  background-color: #e7ebf7;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;

}

.article-title {
  color: #2059a8;
  font-family: 'calibrib';
  padding-left: 12px;
}

.support-section-header {
  color: white;
  background-color: #2059a8;
  font-size: 28px;
  padding: 12px;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

.footer-bar {
  height: 20px;
  width: 100%;
  background-color: #2059a8;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}

.support-cards {
  padding: 24px;
}

.section {
  padding-top: 24px;
}

.article-container {
  border-bottom: 2px #2059a8 solid;
}
h3 {
  font-family: 'calibri';
  color: #2059a8;
  text-align: center;
  margin: 12px;
  font-size: 22px;
}
h1 {
  font-family: 'calibrib';
  color: #2059a8;
  font-weight: bold;
}

.support-header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-description {
  padding-top: 8px;
}

@media screen and (max-width: 850px) {
  .active-support + .support-content {
    padding-left: 12px;
    padding-right: 12px;
  }
}


